---
layout: nil
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>                           
<head>                           
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }} - tinku99.github.com</title>
    <meta name="author" content="Naveen Garg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="canonical" href="http://tinku99.github.com{{page.url}}" />
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/syntax.css" type="text/css" media="screen" />

    {% if page.feed_link %}
        {% assign feed_link = page.feed_link %}
    {% else %}
        {% assign feed_link = "/atom.xml" %}
    {% endif %}

    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ feed_link }}" />

    {% if page.description %}
    <meta name="description" content="{{ page.description | escape }}" />
    {% else %}
    <meta name="description" content="Naveen Garg's homepage and blog" />
    {% endif %}

   
</head>
<body>
    <div id="fb-root"></div>
    <div id="container">
        <div id="nav-wrapper">
            <div id="nav2">
                <div id="navigation">
                   <ul>
                        <li><a {% if page.section == "home" %}class="selected"{% endif %} href="/">home</a></li>
                        <li><a {% if page.section == "blog" %}class="selected"{% endif %} href="/blog">blog</a></li>
                        <li><a {% if page.section == "projects" %}class="selected"{% endif %} href="/projects">projects</a></li>
                        <li><a {% if page.section == "etc" %}class="selected"{% endif %} href="/etc">etc</a></li>
                        <li><a {% if page.section == "about" %}class="selected"{% endif %} href="/about">about</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="body-wrapper">
            <div id="header">
                <a href="/" alt="Home"
                class="borderless"><img src="/static/ahk.png" 
                                        style="vertical-align:middle;"></a>
                <a href="/" title="Home" id="site-name-link"
                class="borderless">&nbsp;naveen garg</a>
            </div>
            <div id="content">
                <h1>{{ page.title }}</h1>
                {% if page.social %}
                <p>
                <div class="g-plusone"></div>
                <div class="fb-like" data-send="false" data-layout="button_count" 
                data-show-faces="false"></div>
                </p>
                {% endif %}
                
                {{ content }}
                
            </div>
                <h1>Recent Pages</h1>
                <div>
                {% for p in site.posts limit: 15 %}
                    <p>
                    <a href="{{ p.url }}">{{ p.title }}</a>
                    <br/>
                    <small><em>{{ p.categories | first | upcase}}</em> | {{ p.date | date_to_string }}</small> 
                    </p>
                {% endfor %}
                </div>
            </div>
            <div id="footer">
                The content of this site is published under 
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
                <img title="Creative Commons Attribution-ShareAlike 3.0 Unported License" 
                    alt="Creative Commons Attribution-ShareAlike 3.0 Unported License" style="border-width:0" 
                    src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" />
                </a>
            </div>
        </div>
    </div>
    
    {% if page.social %}
    <!-- Place this render call where appropriate -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>    
    {% endif %}
</body>
</html>

